
 <div class="jumbotron">
      
       <div class="container">

            <h2><b class="glyphicon glyphicon-edit"></b>  Co?</h2>

            <p>Nevím ...</p>

          <p><buton class="btn btn-warning btn-lg"><%= link_to 'New Worm', new_worm_path %></buton></p>

        </div>

    </div>

    <div class="jumbotron">

        <div class="container">

            <h2><b class="glyphicon glyphicon-user"></b>  Kdo?</h2>

            <p>Banda líných povalečů, věčně bez domácích úkolů, kteří by sami měli dostat zlatý bludišťáky ...</p>

          <p>
              <a href="https://twitter.com/iff_11" class="btn btn-warning btn-lg" role="button">iff</a>
              <a href="https://twitter.com/MichalBryxi" class="btn btn-warning btn-lg" role="button">Michal</a>
              <a href="https://twitter.com/maniac1234" class="btn btn-warning btn-lg" role="button">Maniac</a>
          </p>

        </div>
      
    </div>

    <div class="jumbotron">
      
       <div class="container">

         <h2><b class="glyphicon glyphicon-globe"></b>  Kde?</h2>

            <p>Dům digitálních dovedností, Plzeň</p>

          <p><a href="http://www.dddplzen.eu/" class="btn btn-warning btn-lg" role="button">DDD</a></p>

        </div>

    </div>



