<h1><%= t('worms.edit.Editing worm')%></h1>

<%= render 'form' %>

<div class="btn-group">
  <%= link_to t('Show'), @worm , {class: "btn btn-primary", role:"button"}%>
  <%= link_to t('Back'), worms_path , {class: "btn btn-primary", role:"button"}%>
</div>