 
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 widget">
				<h3 class="widget-title">Aplikace Bluďišťák</h3>
				<div class="widget-body">
					<p>Toto je speciální aplikace pro udělování bludišťáků. Více se dozvíte v <a href="help.html">nápovědě.</a>
        </p>
				</div>
			</div>

			<div class="col-md-4 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="">
            <a href="https://twitter.com/Michal.Bryxi">misa</a>
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href="https://github.com/MichalBryxi/bludistak"><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2">x</i></a>
					</p>
				</div>
			</div>
<div class="col-md-4 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+420720160425<br>
						<a href="mailto:#">michal.bryxi@gmail.com</a><br>
			
					
					</p>	
				</div>
			</div>
			
<!--
			<div class="col-md-3 widget">
				<h3 class="widget-title">Form widget</h3>
				<div class="widget-body">
					<p>+234 23 9873237<br>
						<a href="mailto:#">some.email@somewhere.com</a><br>
						<br>
						234 Hidden Pond Road, Ashland City, TN 37015
					</p>	
				</div>
			</div>

		</div>  /row of widgets 
    -->
</footer>  
    <footer>
  <div class="container">
    Copyright © 2014 Michal Bryxi
  </div>
  </footer>