 
<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 widget">
				<h3 class="widget-title">Aplikace Bluďišťák</h3>
				<div class="widget-body">
					<p>Toto je speciální aplikace pro udělování bludišťáků. Více se dozvíte v <%= active_link_to t('Help'), "/help" %>
        </p>
				</div>
			</div>

			<div class="col-md-4 hidden-xs widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="">
            <a href="https://twitter.com/Michal.Bryxi">misa</a><br>
						<a href="https://twitter.com/iff_11">iff</a>
					</p>
				</div>
			</div>
<div class="col-md-4 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p><a href="mailto:#">michal.bryxi@gmail.com</a></p>	
				</div>
			</div>
			
<!--
			<div class="col-md-3 widget">
				<h3 class="widget-title">Form widget</h3>
				<div class="widget-body">
					<p>+234 23 9873237<br>
						<a href="mailto:#">some.email@somewhere.com</a><br>
						<br>
						234 Hidden Pond Road, Ashland City, TN 37015
					</p>	
				</div>
			</div>

		</div>  /row of widgets 
    -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">  
      <%= t "bagr" %> © 2015 Michal Bryxi
      </div>  
    </div>
  </div>
</footer>  
